
.card {
  width: 100%; 
  max-width: 1300px; 
  min-height: 300px; 
  padding: 1.5rem; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
}
.no-border {
  border-bottom: none !important;
}

  