.custom-card-bg {
    width: "800px";
    border-radius: "10px";
    background-color: #d7f0e6;
    position: relative;
    border: 1px solid #ddd;
}
.custom-text-color {
    color: #000000;
}


@media (max-width: 768px) {
    .custom-card-bg {
        padding: 2rem 1rem; /* Reduce padding */
        border-radius: 8px;
    }
}
  
  
   